<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.just.oasystem.user.dao.UserDao">

    <resultMap id="userInfoMap" type="com.just.oasystem.user.model.UserInfo">
            <result column="user_no" property="userNo"/>
            <result column="user_name" property="userName"/>
            <result column="password" property="password"/>
            <result column="sex" property="sex"/>
            <result column="mobile_phone" property="mobilePhone"/>
            <result column="email" property="email"/>
            <result column="authority" property="authority"/>
            <result column="remark" property="remark"/>
            <result column="create_time" property="createTime"/>
            <result column="creator" property="creator"/>
            <result column="report" property="report"/>

    </resultMap>

    <select id="getAllUserInfo" resultMap="userInfoMap" parameterType="map">

        SELECT
              user_no,user_name,password,sex,mobile_phone,email,authority,remark,create_time,creator,report

        FROM
              oa_user_info
        <where>
            <if test="userNo!=null">
                user_no = #{userNo}
            </if>
            <if test="email!=null">
                AND email = #{email}
            </if>
            <if test="mobilePhone!=null">
                AND mobile_phone = #{mobilePhone}
            </if>
            <if test="userName!=null">
                AND user_name like '%#{userName}%'
            </if>
            <if test="report!=null">
                AND report=#{report}
            </if>
        </where>
            limit #{page},#{limit}
    </select>

    <select id="getUserInfoByNo" resultMap="userInfoMap" parameterType="com.just.oasystem.user.model.UserInfo">

        SELECT
              user_no,user_name,password,sex,mobile_phone,email,authority,remark,create_time,creator,report

        FROM
              oa_user_info

        <where>
            <if test="userNo!=null">
                user_no = #{userNo}
            </if>
            <if test="email!=null">
                AND email = #{email}
            </if>
            <if test="mobilePhone!=null">
                AND mobile_phone = #{mobilePhone}
            </if>
            <if test="report!=null">
                AND report=#{report}
            </if>
        </where>

    </select>

    <insert id="saveUserInfo" parameterType="com.just.oasystem.user.model.UserInfo">
        INSERT INTO
                    oa_user_info
                    (user_no,user_name,password,sex,mobile_phone,email,authority,remark,create_time,creator,report)
                    VALUES
                    (#{userNo},#{userName},#{password},#{sex},#{mobilePhone},#{email},#{authority},#{remark},DATE_FORMAT(now(),'%Y-%m-%d'),#{creator},#{report})
    </insert>

    <update id="updateUserInfo" parameterType="com.just.oasystem.user.model.UserInfo">
        UPDATE
               oa_user_info
               <trim prefix="set" suffixOverrides=",">
                   <if test="password!=null">
                       password = #{password},
                   </if>
                   <if test="mobilePhone!=null">
                       mobile_phone = #{mobilePhone},
                   </if>
                   <if test="email!=null">
                       email = #{email},
                   </if>
                   <if test="authority!=null">
                       authority = #{authority},
                   </if>
                   <if test="remark!=null">
                       remark = #{remark},
                   </if>
                   <if test="report!=null">
                       report =#{report}
                   </if>
               </trim>
        WHERE
                user_no = #{userNo}
    </update>

    <delete id="deleteInfos" parameterType="list" >
        DELETE FROM
                    oa_user_info
        WHERE
              user_no IN
              <foreach collection="array" item="item" index="index" separator="," open="(" close=")">
                  #{item}
              </foreach>
    </delete>
    
    <select id="countAllInfo" resultType="int">
        SELECT
              COUNT(user_no)
        FROM
              oa_user_info
    </select>


    <select id="getUserInfo" resultType="map" parameterType="string">
        SELECT
                user_no AS userNo,user_name AS userName, report
        FROM
              oa_user_info
        WHERE
              authority = #{authority}
    </select>
</mapper>